<div>
  <h2>Product Review</h2>
  {{#if product.comments}}


  {{#each product.comments as |comment| }}
  <h4>{{comment.text}}</h4>
  <h5>By: {{comment.author}}</h5>
  <hr>
  {{/each}}



  {{else}}
  <p>
    Be the first to rate this product!
  </p>
  {{/if}}

  <h2>Add an Review</h2>
  <div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="author" class="control-label col-xs-2">Your Name</label>
        <div class="col-xs-10">
          {{input value=author}}
        </div>
      </div>
      <div class="form-group">
        <label for="text" class="control-label col-xs-2">Review</label>
        <div class="col-xs-10">
          {{textarea cols="80" rows="6" value=text }}
        </div>
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
      <button {{action 'saveReview'}}>Save</button>
    </div>
    </form>
  </div>
</div>
