<h2>Item Route</h2>
<h3>
  {{model.title}}
</h3>
<h5>
  {{model.description}} -- ${{model.price}}
</h5>
<button {{action "addToCart" model}}>Add to Cart</button>
{{product-rating product=model saveRating="saveRating"}}
{{product-review product=model saveReview="saveReview"}}
